/* MENU SUPERIOR */
.menuSuperior {
    display: flex;
    text-align: center;
    align-items: center;
    color: #18af9d;
    margin-top: 25px;
    justify-content: end;
}
.menuSuperior .itens {
    padding: 0px 30px 0px 30px;
    list-style: none;
}
.menuSuperior .itens:hover {
    color: #f2f2f2;
    transition: .5s;
    cursor: pointer;
}
.mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu > div {
    width: 32px;
    height: 4px;
    border-radius: 2px;
    background-color: #18af9d;
    margin: 8px;
    transition: 0.3s;
  }
/*Media MenuSuperior*/
@media (max-width: 600px) {
    .menuSuperior {
        display: none;
    }
    .mobile-menu {
        display: block;
        margin-left: 90%;
        margin-top: 4%;
      }
}