@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
}

main.container {
    background: #fff;
    max-width: 350px;
    min-height: 40vh;
    padding: 2rem;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

main h2 {
    font-weight: 600;
    margin-bottom: 2rem;
    position: relative;
    /* Posision absolute para que a pseudoclasse before possa ser usada no elemento*/
}


/* Linha que fica abaixo do nome Login*/

main h2::before {
    content: '';
    position: absolute;
    /* Posision absolute para que o elemento permaneça no local correto*/
    height: 4px;
    width: 25px;
    bottom: 3px;
    left: 0;
    border-radius: 8px;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
}

.input-field {
    position: relative;
    /*Posicion relative pq serão utilizadas as pseudoclasses before e after*/
}

.input-field:first-child {
    margin-bottom: 1.5rem;
}


/*linha colorida abaixo dos inputs*/

.input-field .underline::before {
    content: '';
    position: absolute;
    /*Para que ela fique fixa*/
    height: 1.5px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
}

.input-field .underline::after {
    content: '';
    position: absolute;
    /*Para que ela fique fixa*/
    height: 2px;
    width: 100%;
    bottom: -5px;
    left: 0;
    background: linear-gradient(45deg, #8e2de2, #4a00e0);
    transform: scaleX(0);
    transition: all .3s ease-in-out;
    transform-origin: left;
    /*O efeito começa da esquerda*/
}

.input-field input:focus~.underline::after {
    transform: scaleX(1);
}

.input-field input {
    outline: none;
    /*Linha q fica ao redor do input*/
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
}

.input-field input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

button {
    margin-top: 2rem;
    padding: 0.4rem;
    background: linear-gradient(to left, #4776e6, #8e54e9);
    cursor: pointer;
    color: aliceblue;
    font-size: 0.9rem;
    border-radius: 4px;
    transition: all 0.3s ease;
}

button:hover {
    letter-spacing: 2.5px;
    background: linear-gradient(to right, #4776e6, #8e54e9);
}

.footer {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.footer span {
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.8rem;
    text-align: center;
}

.footer .social-field {
    padding: 0.4rem;
    border-radius: 4px;
    font-size: 0.85rem;
    width: 100%;
    cursor: pointer;
    margin-top: 1rem;
}

.footer .social-field a i {
    margin: 0 0.5rem;
    width: 15px;
}

.footer .social-field a {
    text-decoration: none;
    color: white;
}

.footer .social-field.twitter {
    background: linear-gradient(to right, #56a7f2, #468aca);
}

.footer .social-field.twitter:hover {
    background: linear-gradient(to left, #56a7f2, #468aca);
    letter-spacing: 0.8px;
}

.footer .social-field.facebook {
    background: linear-gradient(to right, #1e3c72, #2a5298);
}

.footer .social-field.facebook:hover {
    background: linear-gradient(to left #1e3c72, #2a5298);
    letter-spacing: 0.05px;
}

.footer .social-field.google {
    background: linear-gradient(to right, #dd4b39, #dd4b49);
}

.footer .social-field.google:hover {
    background: linear-gradient(to right, #dd4b39, #dd4b49);
    letter-spacing: 0.8px;
}