@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/*reset*/

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


/*--------------*Header*-------------*/

header .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9D4EDD;
    height: 15vh;
}

.menu a,
.menu li {
    color: #f2f2f2;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.menu img {
    width: 60%;
    padding-top: 2%;
    max-width: 250px;
    min-width: 190px;
}

.menu li:hover {
    color: #FF6D00;
    transition: .5s;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li {
    cursor: pointer;
    padding: 20px;
}

.logo {
    font-size: 24px;
}

.mobile-menu {
    display: none;
    cursor: pointer;
    margin-right: 10px;
}

.mobile-menu:hover {
    background-color: orange;
    border-radius: 50%;
    padding: 5px;
    transition: .5s;
}

.mobile-menu>div {
    width: 32px;
    height: 4px;
    border-radius: 2px;
    background-color: #f2f2f2;
    margin: 8px;
    transition: 0.3s;
}


/*KeyFrames--------------*Categorias*-------------*/

@-webkit-keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes swing {
    15% {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30% {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50% {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65% {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80% {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}


/*--------------*Categorias*-------------*/
.container-categorias {
    display: flex;
    justify-content: space-between;
    background-color: rgba(101, 0, 229, 0.5);
    align-items: center;
    margin-bottom: 20px;

}

.item-categorias {
    width: 90%;
    margin: 10px;
    margin-bottom: 10px;
    margin-left: 6px;


}

.item-categorias:hover {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}


.img-categorias {
    padding: 18px;
    margin-top: 5px;
    scroll-snap-align: start;
    /* visual styling */
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    margin-bottom: 2px;
    border-radius: 50%;
    margin-left: 10px;
    border: 1px solid #240046;
    background: linear-gradient(55deg, #360861, #400a74);
    box-shadow: 10px -10px 25px #2b064d,
        -10px 10px 255px #4d0c8b;
    position: relative;
    opacity: 0.7;


}


.link-img-categoria {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 5px;
}

.link-text-categoria {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 3px;
    font-size: 1.8vh;
    font-weight: 500;
    color: #fff;
}

/*-----------*Informações*-----------*/
.container-info {
    margin: auto;
    display: block;
    width: 100%;
}

.pagamento {
    display: block;
    text-align: center;
    font-size: 1.5vh;
    padding: 3%;
    margin: 20px 20px;
    border-radius: 7px;
    box-shadow: 0px 3px 5px 0px rgba(64, 32, 83, 0.5);
    filter: drop-shadow(5px 5px 5px rgba(64, 32, 83, 0.3));

}

.pagamento img {
    width: 35px;
}

.entrega {
    display: block;
    text-align: center;
    font-size: 1.5vh;
    padding: 3%;
    margin: 20px 20px;
    border-radius: 7px;
    box-shadow: 0px 3px 5px 0px rgba(64, 32, 83, 0.5);
    filter: drop-shadow(5px 5px 5px rgba(64, 32, 83, 0.3));
}


.entrega img {
    width: 35px;
}

.seguranca {
    display: block;
    text-align: center;
    font-size: 1.5vh;
    padding: 3%;
    margin: 20px 20px;
    border-radius: 7px;
    box-shadow: 0px 3px 5px 0px rgba(64, 32, 83, 0.5);
    filter: drop-shadow(5px 5px 5px rgba(64, 32, 83, 0.3));

}

.seguranca img {
    width: 35px;
}

.atendimento {
    display: block;
    text-align: center;
    font-size: 1.5vh;
    padding: 3%;
    margin: 20px 20px;
    border-radius: 7px;
    box-shadow: 0px 3px 5px 0px rgba(64, 32, 83, 0.5);
    filter: drop-shadow(5px 5px 5px rgba(64, 32, 83, 0.3));

}

.atendimento img {
    width: 35px;
}

/*--------------*Ofertas*-------------*/

.slides-ofertas {
    padding: 10px;
    position: relative;
    margin: 0;
    width: 120%;
    justify-content: space-between;
    margin-top: 5px;
    overflow: hidden;


}

.slides-btn {
    margin: 0;
    width: 100%;
    display: flex;
    overflow: hidden;
  

}

.slides-btn input {
    margin: 0;
    display: none;
    justify-content: center;
    margin-top: -200px;

}

.slide {
    left: -15%;
    margin-top: 5px;
    margin: 0;
    position: relative;
    display: flex;
    width: 120%;
    height: 100px;
    justify-content: center;
    transition: 0.8s;

}

.slide img {
    margin-left: 5px;
    width: 100px;
    height: 100px;


}

.navigation {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar {
    margin: 6px;
    border: 2px solid #400a74;
    width: 10px;
    height: 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: .5s ease;
}

.bar:not(:last-child) {
    margin-right: 3px;
}

.bar:hover {
    background-color: #FF6D00;
}

.slide {
    width: 45%;
    transition: .6s;
}

#radio1:checked~.s1 {
    margin-left: 0;
}

#radio2:checked~.s1 {
    margin-left: -15%;
}

#radio3:checked~.s1 {
    margin-left: -20%;
}

#radio4:checked~.s1 {
    margin-left: -25%;
}

#radio5:checked~.s1 {
    margin-left: -30%;
}

#radio6:checked~.s1 {
    margin-left: -35%;
}


/*--------------*Histórico*-------------*/

#historico {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
    font-size: 8px;
    justify-content: center;
}

.title-historico {
    margin-top: 20px;
    margin: 0%;
    width: 100%;
    height: 20px;
    font-size: 8px;
    justify-content: center;
    background-color: white;
    text-align: center;
    color: #240046;
    font-weight: bold;
}

.img-historico {
    display: flex;
    background-color: #bdbdbd;
    height: 250px;
}


.cont1 {
    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding: 0.2em;
}


/*-------Botão -Scroll-topo--------*/
.topo {
    background-color: #fff;
   
    bottom: 300px;
    right: 20px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-items: end;
    align-items: center;
    transition: .4s all;
}

.topo img {
    width: 43px;
    padding: 4px;

}

.show-button .topo {
    right: 500%;
    transition: .4s all;
    display: flex;
    justify-content: center;

}

/*----whats---*/

.whats {
    position: fixed;
    display: flex;
    justify-content: end;
    right: 25%;
    margin-top: 20%;
    height: 50px;
    width: 50px;
    align-items: center;
    z-index: 1;
}

.whats img {
    width: 75px;
}


form input,
form button {
    font-size: 10px;
    border-radius: 10px;
    border: none;
    padding: 8px;
}

form button {
    cursor: pointer;
    background: none;
}

form button:hover {
    background-color: whitesmoke;
    color: #9D4EDD;
}

.input-text {
    width: 50em;
    height: 3em;
}

.IconCart {
    margin-right: 50px;
}

.IconCart:hover {
    color: #FF6D00;
}


/*--------------*@Media*-------------*/

@media (max-width: 640px) {
    body {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    }
    /* MENU BURGUER */
    .nav-list {
        display: none;
        position: absolute;
        top: 9vh;
        right: 0;
        width: 100%;
        height: auto;
        background: #9D4EDD;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        z-index: 10;
    }
    .nav-list li {
        text-align: center;
        width: 100%;
        padding: 20px 0 20px 0;
        border-bottom: 1px solid #f2f2f2;
    }
    .nav-list a {
        display: block;
        width: 100%;
    }
    .nav-list.active {
        display: flex;
    }
    .mobile-menu {
        display: block;
    }
    /* FIM BURGUER */
    .logo {
        display: none;
    }
   /* .container-categorias {
        display: block;
    }*/
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #9D4EDD;
        padding: 0.2em;
    }
    header .container-logo img {
        height: 40px;
        margin: 10px;
    }
    .cont1 {
        border: 1px solid whitesmoke;
        border-radius: 10px;
        padding: 0.2em;
    }
    form input,
    form button {
        font-size: 10px;
        border-radius: 10px;
        border: none;
        padding: 8px;
    }
    form button {
        cursor: pointer;
        background: none;
    }
    form button:hover {
        background-color: whitesmoke;
        color: #9D4EDD;
    }
    .input-text {
        width: 29em;
        height: 3em;
    }
    a {
        color: black;
        padding: 10px;
    }
    a:hover {
        color: #9D4EDD;
    }
    label .cep {
        cursor: pointer;
        position: relative;
        display: none;
        height: 22px;
        width: 30px;
    }
    nav.menu {
        width: 100%;
    }
    .container-CEP {
        margin: 0 auto;
        width: 100%;
        max-width: 440px;
        background: #9D4EDD;
        height: auto;
        padding: 5px;
        padding-top: 0;
    }
    .CEP {
        display: flex;
        margin: 0 auto;
    }
    .CEP label {
        margin-right: 10px;
    }
    .CEP input {
        width: 900%;
        padding: 0px;
        border-radius: 30px;
        border: 1px solid white;
        height: 20px;
        font-size: 0.75rem;
    }

}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .container-info {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (min-width: 1200px) {

    /*---------@medias-informacao-whats-top------*/

    .container-info {
        display: flex;
        justify-content: space-between;
        padding: 2PX;
    }

    .pagamento {
        width: 100%;
        height: 30%;
        padding: 2%;
        margin: 15px 15px 15px 15px;
    }

    .entrega {
        width: 100%;
        height: 30%;
        padding: 2%;
        margin: 15px 15px 15px 15px;
    }

    .entrega img {
        width: 50px;
    }

    .seguranca {
        width: 100%;
        height: 30%;
        padding: 2%;
        margin: 15px 15px 15px 15px;
    }

    .atendimento {
        width: 100%;
        height: 30%;
        padding: 2%;
        margin: 15px 15px 15px 15px;
    }

    /*--@medias ofertas--*/
    .slides-ofertas{
       width: 100%;
}


    .slide {
        left: -1%;
        width: 500px;
        height: 200px;

    }

    .slide img {
        width: 210px;
        height: 210px;
    }

         
    #radio1:checked~.s1 {
        margin-left: 0;
    }

    #radio2:checked~.s1 {
        margin-left: 0%;
    }

    #radio3:checked~.s1 {
        margin-left: 0%;
    }

    #radio4:checked~.s1 {
        margin-left: 0%;
    }

    #radio5:checked~.s1 {
        margin-left: 0%;
    }

    #radio6:checked~.s1 {
        margin-left: 0%;
    }
   
    .navigation{
        display: none;

}
}


/*---------@medias-whats------*/
.whats {
    position: fixed;
    margin-top: 26%;
    right: 5%;
}

.whats img {
    width: 95px;
}

.topo {
    background-color: #fff;
    position: fixed;
    bottom: 30px;
    right: -50px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    justify-items: end;
    align-items: center;
    transition: .4s all;
}

.topo img {
    width: 43px;
    padding: 4px;

}

.show-button .topo {
    right: 5%;
    transition: .4s all;
    display: flex;
    justify-content: center;

}

