@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
/*reset*/
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}



/*--------------*Header*-------------*/

header .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #9D4EDD;
    height: 15vh;
  }
  
  .menu a, .menu li{    
      color: #f2f2f2;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.3s;
      font-family: 'Poppins', Arial, Helvetica, sans-serif;
  }
  
  .menu img {
    width: 60%;
    padding-top: 2%;
    max-width: 250px;
    min-width: 190px;
  }
  
  .menu li:hover {
    color:#FF6D00;
    transition: .5s;
  }
  
  .nav-list {
    display: flex;
    list-style: none;
  }
  
  .nav-list li {
    cursor: pointer;
    padding: 20px;
  }
  
  .logo {
    font-size: 24px;
    
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
    margin-right: 10px;
  }
  .mobile-menu:hover {
    background-color: orange;
    border-radius: 50%;
    padding: 5px;
    transition: .5s;
  }
  
  .mobile-menu > div {
    width: 32px;
    height: 4px;
    border-radius: 2px;
    background-color: #f2f2f2;
    margin: 8px;
    transition: 0.3s;
  }

/*KeyFrames--------------*Categorias*-------------*/

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%
    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%
    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%
    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%
    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%
    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
/*--------------*Categorias*-------------*/

.container-categorias {
    display: flex;
    justify-content: space-between;
}

.item-categorias {
    width: 100%;
    margin: 10px;
    margin-bottom: 20px;
}
.item-categorias:hover {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.img-categorias {
    padding: 5PX;
    margin-top: 20px;
    scroll-snap-align: start;
    /* visual styling */
    width: 100%;
    height: 20em;
    flex-shrink: 0;
    background-color: #18AF9D;
    margin-bottom: 5px;
    
}

.link-categoria {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 5px;
    font-size: 11px;
    font-weight: bold;
    color: 240046;
    border-radius: 10%;
}


/*--------------*Ofertas*-------------*/
 .slides-ofertas{
margin-top: 10px;
margin: 0 auto;
width: 100%;
height: 150px;
overflow: hidden;
}

.slides-btn{
width: 400px;
height: 150px;
display: flex;
}

.slides-btn input{
   display: none;
}
.slide-img{
position: relative;
display: flex;
width: 800px;
height: 100px;
margin-top: 10px;
margin-bottom: 10px;
padding-left: 5px;
justify-content: center;
transition: 2s;

}

.slide img{
width:90px;
height:90px;
display: flex;
justify-content: center;
}

.manual-navigation{
margin: auto;
position: absolute;
width: 350px;
margin-top: 15px;
display: flex;
justify-content: center;
}
.manual-btn{
border: 2px solid 	#FF6D00;
padding: 2px;
border-radius: 10px;
cursor: pointer;
transition: 1s;
}

.manual-btn:not(:last-child){
 margin-right: 10px;
}

.manual-btn:hover{
background-color: #FF6D00;
}

#radio1:checked ~ .first{
  margin-left:0;
}
#radio2:checked ~.first{
  margin-left:-25%;
}
#radio3:checked ~.first{
  margin-left:-30%;
}
#radio4:checked ~.first{
  margin-left:-35%;
}
#radio5:checked ~.first{
  margin-left:-40%;
}
#radio6:checked ~.first{
  margin-left:-45%;
}


.navigation-auto div{
 border: 1px solid  #FF6D00;
padding: 3px;
border-radius: 10px;
cursor: pointer;
transition: 2s;
}

.navigation-auto{
position: absolute;
margin: auto;
position: absolute;
width: 350px;
margin-top: 115px;
justify-content: center;
display: flex;

}

.navigation-auto div:not(:last-child)
{
 margin-right: 10px;
}

#radio1:checked ~.navigation-auto .auto-btn1{
background-color:  #FFF;
}
#radio2:checked ~.navigation-auto .auto-btn2{
background-color:  #FFF;

}#radio3:checked ~.navigation-auto .auto-btn3{
background-color:  #FFF;
}
#radio4:checked ~.navigation-auto .auto-btn4{
background-color: #FFF;
}
#radio5:checked ~.navigation-auto .auto-btn5{
background-color:  #FFF;
}

/*--------------*Histórico*-------------*/

#historico {
    margin: none;
    display: flex;
    width: 100%;
    height: 125px;
    font-size: 8px;
    justify-content: center;
    background-color: #dcdcdc;
}

.title-historico {
    width: 100%;
    height: 20px;
    font-size: 8px;
    justify-content: center;
    background-color: white;
    text-align: center;
    color: #240046;
    font-weight: bold;
}
.cont1 {
    border: 1px solid whitesmoke;
    border-radius: 10px;
    padding: 0.2em;
}

form input, form button {
    font-size: 10px;
    border-radius: 10px;
    border: none;
    padding: 8px;     
}

form button {
    cursor: pointer;
    background: none;
}

form button:hover {
    background-color: whitesmoke;
    color: #9D4EDD;
} 

.input-text {
    width: 50em;
    height: 3em;
}

.IconCart {
    margin-right: 50px;
}
.IconCart:hover {
    color: #FF6D00;
}

/*--------------*Footer*-------------*/


/*--------------*@Media*-------------*/

body {
    background-color: #F5F5F5;
}

/*--------------*@Media*-------------*/
@media (max-width: 640px) {

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

/* MENU BURGUER */
.nav-list {
    display: none;
    position: absolute;
    top: 9vh;
    right: 0;
    width: 100%;
    height: auto;
    background: #9D4EDD;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 10;
  }
.nav-list li {
    text-align: center;
    width: 100%;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #f2f2f2;
  }
.nav-list a {
    display: block;
    width: 100%;
  }

.nav-list.active {
    display: flex;
  }

.mobile-menu {
    display: block;
  }
/* FIM BURGUER */

.logo {
    display: none;
}

.container-categorias {
    display: block;
}



.container {
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #9D4EDD;
    padding: 0.2em;
}

    header .container-logo img {
        height: 40px;
        margin: 10px;
    }

    .cont1 {
        border: 1px solid whitesmoke;
        border-radius: 10px;
        padding: 0.2em;
    }

    form input, form button {
        font-size: 10px;
        border-radius: 10px;
        border: none;
        padding: 8px;     
    }

    form button {
        cursor: pointer;
        background: none;
    }

    form button:hover {
        background-color: whitesmoke;
        color: #9D4EDD;
    } 
    .input-text {
        width: 29em;
        height: 3em;
    }

    a {
        color: black;
        padding: 10px;   
    }

    a:hover {
        
        color: #9D4EDD;
    }

    
    label {
        cursor: pointer;
        position: relative;
        display: none;
        height: 22px;
        width: 30px;
    }

    
    nav.menu {
        width: 100%;
    }

    .container-CEP {
        margin: 0 auto;
        width: 100%;
        max-width: 440px;
        background: #9D4EDD;
        height: auto;
        padding: 5px;
        padding-top: 0;
    }
    
    .CEP {
        display: flex;
        margin: 0 auto;
    }
    
    .CEP label {
        margin-right: 10px;
    }
    
    .CEP input {
        width: 900%;
        padding: 0px;
        border-radius: 30px;
        border: 1px solid white;
        height: 20px;
        font-size: 0.75rem;
    }

}